<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>

<center>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>

<h3>New Transaction</h3>

<div class='container'>
  <div class='row justify-content-around'>
    <div class="col-4">
      <div class='card'>
      </br>
        <%= form_tag(transactions_url, method: :post) do %>
          <div class="form-group">
            <label>Send to</label>
            <%= select_tag(:receiver, options_for_select(@users.pluck(:email,:id))) %>
          </div>
          <div class="form-group">
            <label>From Wallet</label>
            <%= select_tag(:source_currency, options_for_select(@currencies.pluck(:code,:id))) %>
          </div>
          <div class="form-group">
            <label>To Wallet</label>
            <%= select_tag(:target_currency, options_for_select(@currencies.pluck(:code,:id))) %>
          </div>
          <div class="form-group">
            <%= number_field(:amount, :total, step: :any) %>
          </div>
          <div class="form-group">
            <%= link_to 'Back to transactions', root_path %>
            or
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

</br></br></br>
</center>
